@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNext/AvenirNext-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNext/AvenirNext-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNext/AvenirNext-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}